# This is a test workflow that is manually triggered
name: Manual test (self-hosted)
run-name: Manual test (${{ inputs.platform }}, ${{ inputs.test_contexts }})

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    # Specify branches using the refspec-like syntax: <user>:<branch>
    inputs:
      locations:
        description: 'Branch locations (JSON array string)'
        default: '[ "xobjects_branch":"xobjects:main" ,
        "xdeps_branch":"xdeps:main",
        "xpart_branch":"xpart:main",
        "xtrack_branch":"xtrack:main",
        "xfields_branch":"xfields:main",
        "xmask_branch":"xmask:main",
        "xcoll_branch":"xcoll:main",
        "xboinc_branch":"xboinc:main" ]'
        required: true
        type: string
      test_contexts:
        description: test contexts
        default: 'ContextCpu;ContextCpu:auto;ContextCupy;ContextPyopencl'
        required: false
      platform:
        description: platform
        default: 'ubuntu'
        required: true
      suites:
        description: test suites (JSON array string)
        required: true
        type: string
        default: '["xobjects", "xdeps", "xpart", "xtrack", "xfields", "xmask", "xcoll","xboinc"]'

# This workflow calls the test_sh.yaml workflow passing the specified
# branches as inputs
jobs:
  run-tests-manual-sh:
    uses: ./.github/workflows/test_sh.yaml@main
    secrets: inherit
    with:
      locations: ${{ inputs.locations }}
      test_contexts: ${{ inputs.test_contexts }}
      platform: ${{ inputs.platform }}
      suites: ${{ inputs.suites }}
